  <li class="<%="gallery_li_#{index}"%>">
    <%= link_to gallery_bot.image.url(:original), rel: "prettyPhoto[pp_gal]" do %>
      <%= image_tag gallery_bot.image.url(:gallery), 
                    alt: gallery_bot.alt,
                    title: gallery_bot.title %>
    <% end %>
  </li>


