@import "bootstrap";
@import "compass";

/*- Шрифты */

@font-face {
  font-family: CondProBold;
  src: local("PFDinTextCondPro-Bold"),
       url(PFDinTextCondPro-Bold.ttf);
}
@font-face {
  font-family: CondProBoldItal;
  src: local("PFDinTextCondPro-BoldItal"),
       url(PFDinTextCondPro-BoldItal.ttf);
}
@font-face {
  font-family: CondProItal;
  src: local("PFDinTextCondPro-Italic"),
       url(PFDinTextCondPro-Italic.ttf);
}

/*Шрифты конец*/

$short-sprite-dimensions: true;

.no-scroll {overflow:hidden;-webkit-overflow-scrolling: touch;}
.wrapper {max-width:980px; margin:0 auto; }
.wrapper-modal {padding:0 330px 0 0; @include box-sizing(border-box); position:relative; z-index:10; }

/* Header */

.header {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: -57px;
}
.main_content {
	padding-top: 10px;
}
.site_title {
	font-size: 55px;
	color: #949597;
	text-align: right;
	float: left;
	overflow: hidden;
	width: 302px;
	padding-right: 10px;
	line-height: 42px;
	margin-top: 40px;
	site_name {
	color: #949597;
}

.site_name {
	color: #949597;
	font-family: CondProBold;
	text-transform: uppercase;
	line-height: 50px;
}

.site_name:hover, .site_name:active{
	text-decoration:none;
	color: #949597;
	font-family: CondProBold;
	text-transform: uppercase;
}

}
.head_info {
	float: left;
	margin-top: 45px;
	height: 111px;
}
.head_info_string {
	font-size: 36px;
	width: 297px;
	padding: 0px 15px;
	text-transform: uppercase;
	border-left: 5px solid #cb272e;
	font-family: CondProBold;
}
.info_1{
	line-height: 24px;
}
.info_2{
	line-height: 38px;
}
.info_3{
	line-height: 28px;
}
.head_phone {
	font-size: 40px;
	color: #cb272e;
	font-family: CondProBold;
	margin-top: 16px;
	line-height: 42px;
}
.chaplin {
	background: url(../assets/chaplin.png) no-repeat;
	float: left;
	height: 200px;
	width: 100px;
}
.standee_logo {
	background: transparent;
  margin-top: -29px;
  margin-bottom: 7px;
}

.speech {
	background: url(../assets/words.png) no-repeat;
	float: left;
	width: 281px;
	height: 160px;
	margin-top: 30px;
}
.speech:hover, .speech:active{
	background: url(../assets/words_hover.png) no-repeat;
	text-decoration:none;
}
/* Footer */

.footer {
	overflow: hidden;
	clear: both;
	margin-top: 10px;
}
.stlogo {
	background: url(../assets/stlogo.png);
	float: left;
	width: 150px;
	height: 150px;
}
.adress {
	width: 150px;
	height: 120px;
	float: left;
	margin-left: 20px;
	padding: 30px 0;
}

.lang {position: absolute; top:-5px; right:0px; margin:0; padding:0; list-style: none;}
.lang-ru,.lang-en {float:left; margin:5px 0 0 5px;  }
.lang-a {float:left; width:16px; height:11px; background:url(flags.png) left top no-repeat; text-decoration: none !important;}
.lang-en .lang-a {background-position: left bottom;}
.lang-all {padding:4px 5px 6px; background:#ddd; @include border-radius(0 0 6px 6px);}
.lang-active {background:#C7D647;}

.btop-container-height {overflow:hidden;}

.content h1 {font-size:26px;}


.fade { @include transition(opacity 0.5s linear); opacity:0;}

.column {
	position: absolute;
	overflow: hidden;
	width: 196px;
	height: 100%;
	background: #fff;
	border-right: 1px dashed #ccc;
	border-left: 1px dashed #fff;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	padding: 3px;
}
.no_border {
	border-right: 1px dashed #fff;
	border-left: 1px dashed #fff;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}
.block {
	height: 800px;
	position: relative;
	float: left;
	width: 196px;
	background: #fff;
}
.stand_descr {
	color: #949597;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
}
.stand_name{
	font-size: 24px;
	font-weight: bold;
	color: #949597;
	text-decoration: none;
	float: left;
	text-align: left;
	clear: both;
	width: 188px;
}
.stand_name:hover, .stand_name:active {
	color: #fff;
	text-decoration: none;
}
.stand_size {
	float: left;
	clear: both;
	margin-left: 8px;
}
.stand_price {
	color: #cb272e;
	float: left;
	padding-left: 6px;
}
.size_price {
	text-align: center;
	color: #949597;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}
.stand_info {
	height: 450px;
	padding: 10px;
}
.order {
	text-align: center;
	margin-bottom: 7px;
	margin-top: 17px
}

.button {
	border-radius: 200px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 30px;
	background: #cb272e; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb272e 0%, #ea8f95 27%, #db0a31 70%, #cb272e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb272e), color-stop(27%,#ea8f95), color-stop(70%,#db0a31), color-stop(100%,#cb272e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb272e', endColorstr='#cb272e',GradientType=0 ); /* IE6-9 */
}

a.button:hover  {
	text-decoration: none;
	color: #FFFFFF;
	background: rgb(33,242,44); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(33,242,44,1) 0%, rgba(191,242,193,1) 25%, rgba(33,242,44,1) 50%, rgba(66,244,75,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,242,44,1)), color-stop(25%,rgba(191,242,193,1)), color-stop(50%,rgba(33,242,44,1)), color-stop(100%,rgba(66,244,75,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(33,242,44,1) 0%,rgba(191,242,193,1) 25%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(33,242,44,1) 0%,rgba(191,242,193,1) 25%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(33,242,44,1) 0%,rgba(191,242,193,1) 25%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(33,242,44,1) 0%,rgba(191,242,193,1) 25%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21f22c', endColorstr='#42f44b',GradientType=0 ); /* IE6-9 */
}

a.button:active  {
	text-decoration: none;
	color: #FFFFFF;
	background: rgb(33,242,44); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(33,242,44,1) 0%, rgba(33,242,44,1) 50%, rgba(66,244,75,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,242,44,1)), color-stop(50%,rgba(33,242,44,1)), color-stop(100%,rgba(66,244,75,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(33,242,44,1) 0%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(33,242,44,1) 0%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(33,242,44,1) 0%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(33,242,44,1) 0%,rgba(33,242,44,1) 50%,rgba(66,244,75,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21f22c', endColorstr='#42f44b',GradientType=0 ); /* IE6-9 */
}

.more {
  padding: 5px 50px 5px 49px;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  background: rgb(115,127,150); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(115,127,150,1) 0%, rgba(209,209,209,1) 25%, rgba(96,96,96,1) 56%, rgba(76,76,76,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,127,150,1)), color-stop(25%,rgba(209,209,209,1)), color-stop(56%,rgba(96,96,96,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(115,127,150,1) 0%,rgba(209,209,209,1) 25%,rgba(96,96,96,1) 56%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(115,127,150,1) 0%,rgba(209,209,209,1) 25%,rgba(96,96,96,1) 56%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(115,127,150,1) 0%,rgba(209,209,209,1) 25%,rgba(96,96,96,1) 56%,rgba(76,76,76,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(115,127,150,1) 0%,rgba(209,209,209,1) 25%,rgba(96,96,96,1) 56%,rgba(76,76,76,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737f96', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
}

.wrap_more {
	margin-bottom: 17px;
}

.mores {
	z-index:1000;
}
.more:hover, .current_stand {
  text-decoration: none;
  color: #fff;
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(175,175,175,1) 25%, rgba(71,71,71,1) 56%, rgba(63,63,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(25%,rgba(175,175,175,1)), color-stop(56%,rgba(71,71,71,1)), color-stop(100%,rgba(63,63,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(175,175,175,1) 25%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(175,175,175,1) 25%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(175,175,175,1) 25%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(175,175,175,1) 25%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}
.more:active {
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(71,71,71,1) 56%, rgba(63,63,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(56%,rgba(71,71,71,1)), color-stop(100%,rgba(63,63,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(71,71,71,1) 56%,rgba(63,63,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}
.wrapper {
	width: 1252px;
	margin: auto;
}
.current {
	box-shadow: inset 0px 0px 0px 3px #cb272e;
}
.current_name {
	text-align: center;
}
.main_content {
	clear:both
}

.size_price {font-weight: bold;}

.wrp {
	.left_block {
		float:left;
	}
	.right_block {
		float:right;
	}
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* forms */

.input_order{
  border: 1px solid #bbb;
  width:488px;
  padding: 3px;
  margin-bottom: 6px;
 /* @include box_sizing; */
 }
 textarea {
  height: 150px;
  width:100%;
  resize: vertical;
 
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Галлереи */
.gallery {
	margin-top: 10px;
	height: 200px;
	li {
		overflow: hidden;
		bottom: 10px;
		text-align: center;
		visibility:hidden;
	}
}
.gallery_6, .gallery_7 {
	overflow: hidden;
	height: 210px;
	ul {
		padding: 0px;
	}
	li {
		overflow: hidden;
		width: 187px;
		height: 187px;
		display: inline-block;
		border: 1px solid #000;
		margin-bottom: 40px;
		margin-left: 7px;
	}
}

.gallery_6 > ul > .li_1 {
	margin-left: 0px;
}

.gallery_7 > ul > .li_1 {
	margin-left: 0px;
}

.alert {
	margin-bottom: 0px;
}

h4 {
	font-weight: bold;
}
/* Таблица с ценами */

table {
	margin-bottom: 20px;
}
th {
	border: 1px solid;
}

table > thead > tr > .th_1 {
	padding-left: 44px;
	padding-right: 44px;
}

table > thead > tr > .th_2 {
	padding-left: 66px;
	padding-right: 66px;
}

table > thead > tr > .th_3 {
	padding-left: 82px;
	padding-right: 82px;
}

table > thead > tr > .th_4 {
	padding-left: 86px;
	padding-right: 86px;
}

table > thead > tr > .th_5 {
	padding-left: 78px;
	padding-right: 78px;
}

td {
	border: 1px solid;
	text-align: center;
}